w_client/w_client/Service References/OperationChangesRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfService_" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="add_priv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q1:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_privResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_privResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ob" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListResult" nillable="true" type="q2:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_group">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q3:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_groupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_groupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_pers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q4:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_persResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_persResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_pers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q5:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_persResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_persResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_groups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q6:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_groupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_groupsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_per_priv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService_" minOccurs="0" name="ch" nillable="true" type="q7:changes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_per_privResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="update_per_privResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>